* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(145, 209, 249);
}

a {
    margin-right: 15%;
    font-size: 200%;
}

a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(194, 65, 61);
}

a:hover {
    color: blueviolet;
}

main {
    background-color: rgb(93, 188, 78);
}

footer {
    background-color: rgb(145, 209, 249);
    padding-top: 2%;
}

.europatitle {
    margin-left: 40%;
    font-size: 300%;  
}

.europakaart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.kopstuk {
    margin-left: 1%;
}

ul {
    margin-left: 2%;
}

h1 {
    padding-top: 2%;
    margin-left: 1%;
}

h3 {
    margin-left: 1%;
    margin-bottom: 2%;
}

img {
    padding-left: 2%;
}

.standaardp {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 40%;
    margin-left: 1%;
}

.peinde {
    margin-top: 2%;
    margin-right: 40%;
    margin-left: 1%;    
}

.Onderkant {
    border-color: rgb(142, 209, 251);
    margin-left: 1%;
}

.Gustave {
    float: right;
    margin-right:20%;  
}

.Buckinghampalace2 {
    float: right;
    width: 30%;
    margin-right: 10%;
}

.queenguard {
    float: right;
    border-left: 20%;
    margin-top: 10%;
}

.watercolosseum {
    float: right;
    margin-right: 15%;
}